[submodule "frontend"]
	path = frontend
	url = https://gitcode.com/openeuler/yuanrong-frontend.git
[submodule "datasystem"]
	path = datasystem
	url = https://gitcode.com/yuchaow/yuanrong-datasystem.git
[submodule "functionsystem"]
	path = functionsystem
	url = https://gitcode.com/yuchaow/yuanrong-functionsystem.git
